





.reset-password-wrapper{
    width: 100%;
    max-width: 500px;
    border: 1px solid #4a4949;
    text-align: center;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 7px;
    margin: 0 auto;
    margin-top: 100px;
}

.reset-password-wrapper h2{
    color: #3d74d9;
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;
}

.new-password{
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #4a4949;
    margin-bottom: 20px;
    padding: 5px 7px;
    border-radius: 7px;
}
.new-password input{
    width: 100%;
    border: none;
    margin-left: 10px;
    outline: none;
    font-size: 15px;
}
.confirm-new-password{
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #4a4949;
    margin-bottom: 20px;
    padding: 5px 7px;
    border-radius: 7px;
}
.confirm-new-password input{
    width: 100%;
    border: none;
    margin-left: 10px;
    outline: none;
    font-size: 15px;
}

.new-password-btn{
    background-color: #3d74d9;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    padding: 5px 0;
    width: 100%;
    border-radius: 7px;
    cursor: pointer;
}

.eye-toggle{
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}





